.get-info {
    display: block;
    margin: 0 10px;
    padding: 6px 0;
    position: relative;
}


.get-info-inner {
    display: inline-block;
    margin: 0 10px;
}

.edit-btn {
    float: right;
    margin: 14px 10px 0;
}

@media screen and (max-width: 600px){
    .get-info {
        font-size: 12px !important;
    }
}

@media (max-width: 400px) {
    .get-info-inner {
        display: block;
        margin: 6px 10px 0;
    }
}