.contacts {
    display: block;
    margin: 40px auto;
    padding: 0;
    width: 40%;
}

.info {
    display: block;
    font-size: 14px;
}

.contacts {
    overflow: scroll;
    height: 90vh;
}

.sort-btn {
    float: right !important;
}