@media screen and (max-width: 1100px){
    .contacts {
        width: 55% !important;
    }
}

@media screen and (max-width: 800px){
    .contacts {
        width: 75% !important;
    }
}

@media screen and (max-width: 590px){
    .contacts {
        width: 100% !important;
    }
}

@media screen and (max-width: 450px){
    .contact-avatar {
        width: 60px !important;
    }

    .contact-name {
        font-size: 14px !important;
    }

    .info {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 350px){
    .inner-block {
        margin: 2px 4px !important;
    }
}


