.contact-avatar {
    display: inline-block;
    float: left;
    width: 80px;
    border-radius: 50%;
}

.contact-name {
    margin: 0 0 12px;
    font-size: 20px;
}

.inner-block {
    display: inline-block;
    margin: 2px 4%;
    vertical-align: middle;
}

.fas {
    margin: 0 4px 0 0;
    color: darkgray;
}

.contact:hover {
    cursor: pointer;
    background-color: #f4f7fc;
}